fastapi
uvicorn[standard]
pydantic
langchain
langchain-groq
langchain-community
langchain-huggingface
langgraph
faiss-cpu
sentence-transformers
pypdf
docx2txt
python-multipart
python-dotenv
tavily-python

# testing
pytest
pytest-asyncio
httpx